<div class="card">
    <div class="card-header">
        <strong>Sport</strong>
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="date-input">Date Input</label>
                <div class="col-md-9">
                    <input class="form-control" id="date-input" type="date" [(ngModel)]="model.Date" name="date-input"
                        placeholder="date">
                    <span class="help-block">Please enter a valid date</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="steps" class="col-md-3 control-label" i18n="@@fileName">步数</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="steps" required [(ngModel)]="model.Steps" name="steps"
                        #name="ngModel" />
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger" i18n="@@fileNameEmpty">步数不能为空
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="returnPrev(true)"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
</div>